title: Richard Ludwig
logo: /assets/img/profile.jpg
description: Official website.
show_downloads: false
#google_analytics:
theme: jekyll-theme-minimal
#theme: pages-themes/minimal@v0.2.0
plugins:
- jekyll-remote-theme # add this line to the plugins list if you already have one
