---
title: "Home"
layout: default
pagination:
    enabled: true
permalink: "/"
---


<div class="container">
    
{% if page.url == "/" %}
    
    
    
<!-- Begin post excerpts, let's highlight the first 4 posts on top -->
<div class="row remove-site-content-margin">
    
    <!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    <div class="col-md-6">
    <div class="card border-0 mb-4 box-shadow">   
    <a href="{{site.baseurl}}{{latest_post.url}}">
    {% if latest_post.thumbnail %}
        <div class="topfirstimage" style="background-image: url({% if latest_post.thumbnail contains "://" %}{{ latest_post.thumbnail }}{% else %} {{site.baseurl}}/{{ latest_post.thumbnail}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
    {% else %}
    <!-- <div class="topfirstvideo" style="background-image: url({% if latest_post.video contains "://" %}{{ latest_post.video }}{% else %} {{site.baseurl}}/{{ latest_post.video}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>      -->
    <div class="topfirstvideo">
		<video class="w-100" controls>
			<source src="{% if latest_post.video contains "://" %}{{ latest_post.video }}{% else %}{{ site.baseurl }}/{{ latest_post.video }}{% endif %}" alt="{{ latest_post.title }}" type="video/mp4" height="200">
			Your browser does not support the video tag.
		</video>
	</div>		
    {% endif %}
    </a>
    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
    <h2 class="h4 font-weight-bold">
    <a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    <small class="text-muted">
        Posted by {{latest_post.author | capitalize}} - {{ latest_post.date | date: '%b %d, %Y' }}
    </small>
    <p class="excerpt">
        {{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}
    </p>
    </div>
    </div>
    </div>
    
    <div class="col-md-6">
        
        <!-- second latest post -->
        {%- assign second_post = site.posts[1] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if second_post.thumbnail %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{second_post.url}}">
                 <img class="w-100" src="{% if second_post.thumbnail contains "://" %}{{ second_post.thumbnail }}{% else %}{{ second_post.thumbnail | absolute_url }}{% endif %}" alt="{{ second_post.title }}">
                </a>
                </div>
                {% else %}
                <div class="col-md-4">
                    <a href="{{site.baseurl}}{{second_post.url}}">
                    <video class="w-100" controls>
                        <source src="{% if second_post.video contains "://" %}{{ second_post.video }}{% else %}{{ site.baseurl }}/{{ second_post.video }}{% endif %}" alt="{{ second_post.title }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    </a>
                </div>		
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a>
                    </h2>
                    <small class="text-muted">
                        Posted by {{second_post.author | capitalize}} - {{ second_post.date | date: '%b %d, %Y' }}
                        <br>
                        {{second_post.pitch}}
                    </small>
                </div>
            </div>
        
        <!-- third latest post -->
        {%- assign third_post = site.posts[2] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if third_post.thumbnail %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{third_post.url}}">
                 <img class="w-100" src="{% if third_post.thumbnail contains "://" %}{{ third_post.thumbnail }}{% else %}{{site.baseurl}}/{{ third_post.thumbnail }}{% endif %}" alt="{{ third_post.title }}">
                </a>
                </div>
                {% else %}
                <div class="col-md-4">
                    <a href="{{site.baseurl}}{{third_post.url}}">
                    <video class="w-100" controls>
                        <source src="{% if third_post.video contains "://" %}{{ third_post.video }}{% else %}{{ site.baseurl }}/{{ third_post.video }}{% endif %}" alt="{{ third_post.title }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    </a>
                </div>	
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a>
                    </h2>
                    <small class="text-muted">
                        Posted by {{third_post.author | capitalize}} - {{ second_post.date | date: '%b %d, %Y' }}
                        <br>
                        {{third_post.pitch}}
                    </small>
                </div>
            </div>
        
        <!-- fourth latest post -->
        {%- assign fourth_post = site.posts[3] -%}        
        <div class="mb-3 d-flex align-items-center">                
                {% if fourth_post.thumbnail %}
                <div class="col-md-4">
                <a href="{{site.baseurl}}{{fourth_post.url}}">
                <img class="w-100" src="{% if fourth_post.thumbnail contains "://" %}{{ fourth_post.thumbnail }}{% else %}{{site.baseurl}}/{{ fourth_post.thumbnail }}{% endif %}" alt="{{ fourth_post.title }}">
                </a>
                </div>
                {% else %}
                <div class="col-md-4">
                    <a href="{{site.baseurl}}{{fourth_post.url}}">
                    <video class="w-100" controls>
                        <source src="{% if fourth_post.video contains "://" %}{{ fourth_post.video }}{% else %}{{ site.baseurl }}/{{ fourth_post.video }}{% endif %}" alt="{{ fourth_post.title }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    </a>
                </div>	
                {% endif %}                
                <div>
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="{{site.baseurl}}{{fourth_post.url}}">{{ fourth_post.title }}</a>
                    </h2>
                    <small class="text-muted">
                        Posted by {{fourth_post.author | capitalize}} - {{ second_post.date | date: '%b %d, %Y' }}
                        <br>
                        {{ fourth_post.pitch }}
                    </small>
                </div>
            </div>
        
    </div>
    
</div>
    
<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
{% for post in site.posts %} 
{% if post.tags contains "sticky" %}
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                <h1 class="mb-3">{{post.title}}</h1>
                <p class="mb-3 lead">
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
                </p>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Read More</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/{{ post.thumbnail }});">	
            </div>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %}

{% endif %} <!--endif page url is / -->
    
{% include footer-featured.html%}



</div>