<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<small class="text-muted">
		Posted by {{post.author | capitalize}} - {{ post.date | date: '%b %d, %Y' }}
	</small>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
	</p>
</div>
{% if post.thumbnail %}
	<div class="col-md-3 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<img class="w-100" src="{% if post.thumbnail contains "://" %}{{ post.thumbnail }}{% else %}{{ site.baseurl }}/{{ post.thumbnail }}{% endif %}" alt="{{ post.title }}">
	</a>
	</div>
{% else %}
	<!-- <div class="col-md-3 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<video class="w-100" src="{% if post.video contains "://" %}{{ post.video }}{% else %}{{ site.baseurl }}/{{ post.video }}{% endif %}" alt="{{ post.title }}"></video>
	</a>
	</div> -->
	<div class="col-md-3 pr-0 text-right">
		<video class="w-100" controls>
			<source src="{% if post.video contains "://" %}{{ post.video }}{% else %}{{ site.baseurl }}/{{ post.video }}{% endif %}" alt="{{ post.title }}" type="video/mp4" height="500" width="750">
			Your browser does not support the video tag.
		</video>
	</div>		
{% endif %}
</div>