---
---

.center-text {
  text-align: center;
}

.blur-image-border {
  box-shadow: 0 40px 40px rgba(0,0,0,.1);
}

.size-text {
  font-size: xx-large;
}

footer p {
  text-align: center;
} 

@import "jekyll-theme-minimal";
