---
layout: default
---
<div class="container">
<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
<div class="row">
    <div class="col-md-8">
    {% if page.thumbnail %} 
    <img class="card-img-top mb-5 shadow-lg" src="{% if page.thumbnail contains "://" %}{{ page.thumbnail }}{% else %}{{ page.thumbnail | absolute_url }}{% endif %}" alt="{{ page.title }}"> 
    {% else %}
    <!-- <video class="card-img-top mb-5 shadow-lg" src="{% if page.video contains "://" %}{{ page.video }}{% else %}{{ page.video | absolute_url }}{% endif %}" alt="{{ page.title }}"></video>  -->
    <div class="card-img-top mb-5 shadow-lg">
        <video class="w-100" controls>
            <source src="{% if page.video contains "://" %}{{ page.video }}{% else %}{{ page.video | absolute_url }}{% endif %}" alt="{{ page.title }}" type="video/mp4" height="500" width="750">
            Your browser does not support the video tag.
        </video>
        <small>{{page.image_author}}</small>
    </div>		
    {% endif %} 
    <div class="page-content">
        {{ content }}
        <!-- Comments -->
        {% if page.comments == true %}
        {% include comments.html %}
        {% endif %}
    </div>
    </div>
    <div class="col-md-4">
        {% include sidebar.html %}
    </div>
</div>  
</div>